.menu {
    list-style: none;
}

.menu > li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

menu ul li {
    position: relative;
}

.menu ul {
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 0;
    
}

.menu ul ul {
    top: 0;
    left: 100%;

}

.menu li:hover > ul{
    display: block;
}